<div class="muuri-item-content message-preview">
    <div class="message-source-duo">
        <img src="images/services/<%- in_service.type %>.png" alt="<%- in_service.name %>" title="<%- in_service.name %>" border="0">
        <span class="divider"></span>
        <img src="images/services/<%- out_service.type %>.png" alt="<%- out_service.name %>" title="<%- out_service.name %>" border="0">
    </div>
    <div class="message-title">
        <a href="#" class="delete-link pull-right" title="Delete Rule"><i class="fa fa-times" aria-hidden="true"></i></a>
        <%- getTriggerName() %>
    </div>
    <div class="message-content<%- hasConditions() ? ' has-conditions' : '' %>">
        <%= getPreview() %>
    </div>
    <% if (hasConditions()) {
        var items = [];
        %>
        <div class="message-conditions">
            <% _.map(extra_conditions, function (val, key) {
                if (typeof val !== 'string' || (typeof val === 'string' && val)) {
                    items.push(niceVarName(key) + ': ' + val);
                }
            }); %>
            <%- items.join(', ') %>
        </div>
    <% } %>
    <% if (!isUserSetup()) { %>
        <div class="warning-bubble" title="You must set your Service Settings for this rule to be enabled!"><i class="fa fa-exclamation-triangle" aria-hidden="true"></i></div>
    <% } %>
</div>

