<div class="muuri-item-content message-preview">
    <div class="message-source">
        <img src="images/services/<%- in_service_type %>.png" alt="<%- in_service_type %>" title="<%- in_service_type %>" border="0" width="23" height="23">
    </div>
    <div class="message-title">
        <a href="#" class="edit-link pull-right" title="Edit Template"><i class="fa fa-pencil" aria-hidden="true"></i></a>
        <%- name %>
    </div>
    <div class="message-content has-conditions">
        <%= getPreview() %>
    </div>
    <div class="message-conditions">
        <span title="<%- event_types.join(', ') %>"><%- event_types.join(', ') %></span>
    </div>
</div>
