<div class="vertical-timeline-icon has-title">
    <img src="images/services/<%- in_service_type %>.png" alt="<%- in_service_type %>" title="<%- in_service_type %>" border="0" width="23" height="23">
</div>

<div class="vertical-timeline-content has-title has-conditions">
    <%= getPreview() %>

    <div class="title">
        <%- name %>
        <a href="#" class="edit-link" title="Edit Template"><i class="fa fa-pencil" aria-hidden="true"></i></a>
    </div>

    <div class="conditions">
        <span title="<%- event_types.join(', ') %>"><%- event_types.join(', ') %></span>
    </div>
</div>
