<div class="modal-dialog">
    <div class="modal-content">
        <form class="form-horizontal">
            <div class="modal-header text-left">
                <h4 class="modal-title">Select a Incoming Service</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <%
                    var services = getServices();
                    for (var i = 0; i < services.length; i++) {
                        if (services[i].type === 'jira-webhook' || services[i].type === 'bitbucket-webhook') {
                            %>
                            <div class="col-lg-3 col-md-3 col-sm-2 service-item selectable" data-service_id="<%- services[i].id %>" data-service_type="<%- services[i].type %>">
                                <img src="images/services/<%- services[i].type %>.png" alt="<%- services[i].name %>" border="0">
                                <p><%- services[i].name %></p>
                            </div>
                            <%
                        }
                    }
                    %>
                </div>
                <div class="clear"></div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
            </div>
        </form>
    </div>
</div>
