<%
var _error = false;
var codeFormatter = function (str) {
    str = str.replace(/(?:^| |\n)```((.|\n)*)```/gim, "<pre>$1</pre>")
    if (typeof replaceSlackLinks === 'function') {
        str = replaceSlackLinks(str);
    }
    return str;
};

if (service_type === 'slack' ) {
    try {
        var _content = preview;
        if (typeof preview === 'string') {
            _content = JSON.parse(preview);
        }
    } catch (ex) {
        _error = true;
        %>
        <div class="template-slack-preview">
            <strong>Error:</strong><br>
            Preview content is not valid JSON.
        </div>
        <%
    }

    if (!_error) {
        %>
        <div class="template-slack-preview">
            <div class="message-gutter">
                <div class="message-icon">
                    <% if (typeof _content.icon_url !== 'undefined') { %>
                        <img src="<%- _content.icon_url %>">
                    <% } else { %>
                        <img src="https://public.jc21.com/juxtapose/icons/default.png">
                    <% } %>
                </div>
            </div>
            <div class="message-content">
                <div class="message-content-header">
                    <div class="message-content-header-left">
                        <span class="message-sender color_bot_Your_App">
                            <a class="app_preview_link"><%- typeof bot_name !== 'undefined' ? bot_name : 'Juxtapose Bot' %></a>
                            <span class="bot-label">APP</span>
                        </span>
                        <span class="time-star-and-extra-metadata">
                            <a class="timestamp"><%- (typeof created_on !== 'undefined' && typeof shortTime !== 'undefined' ? shortTime(created_on) : '10:00 AM') %></a>
                        </span>
                    </div>
                </div>

                <%
                if (typeof _content.text !== 'undefined' ) { %>
                    <div class="text">
                        <%= codeFormatter(_content.text) %>
                    </div>
                <%
                }

                if (typeof _content.attachments !== 'undefined' && _content.attachments.length ) {
                    for (var i = 0; i < _content.attachments.length; i++) {
                        %>
                        <div class="attachment" style="<%- typeof _content.attachments[i].color !== 'undefined' ? 'border-left-color:' + _content.attachments[i].color : (typeof default_options.panel_color !== 'undefined' ? 'border-left-color:' + default_options.panel_color : '') %>">
                            <% if (typeof _content.attachments[i].author_name !== 'undefined') { %>
                                <div class="author">
                                    <%- _content.attachments[i].author_name %>
                                </div>
                            <% } %>

                            <% if (typeof _content.attachments[i].title !== 'undefined') { %>
                                <div class="attachment-title">
                                    <% if (typeof _content.attachments[i].title_link !== 'undefined' && _content.attachments[i].title_link) { %>
                                        <a href="<%- _content.attachments[i].title_link %>" target="_blank"><%= typeof replaceSlackLinks === 'function' ? replaceSlackLinks(_content.attachments[i].title) : _content.attachments[i].title %></a>
                                    <% } else { %>
                                        <%= typeof replaceSlackLinks === 'function' ? replaceSlackLinks(_content.attachments[i].title) : _content.attachments[i].title %>
                                    <% } %>
                                </div>
                            <% } %>

                            <% if (typeof _content.attachments[i].text !== 'undefined') { %>
                                <div class="attachment-text">
                                    <%= codeFormatter(_content.attachments[i].text) %>
                                </div>
                            <% } %>

                            <% if (typeof _content.attachments[i].fields !== 'undefined' && _content.attachments[i].fields.length) {
                                var cell_number = 0;
                                %>
                                <table border="0" width="100%">
                                    <%
                                    for (var j = 0; j < _content.attachments[i].fields.length; j++) {
                                        var short = typeof _content.attachments[i].fields[j].short !== 'undefined' && _content.attachments[i].fields[j].short;

                                        if ((!short && cell_number > 0) || cell_number > 1) {
                                            cell_number = 0;
                                            %>
                                            </tr>
                                            <%
                                        }

                                        if (!cell_number) {
                                            %>
                                            <tr>
                                            <%
                                        }

                                        cell_number += short ? 1 : 2;

                                        %>
                                        <td<%- short ? ' width="50%"' : '' %>>
                                            <% if (typeof _content.attachments[i].fields[j].title !== 'undefined') { %>
                                                <div class="attachment-title">
                                                    <%= typeof replaceSlackLinks === 'function' ? replaceSlackLinks(_content.attachments[i].fields[j].title) : _content.attachments[i].fields[j].title %>
                                                </div>
                                            <% } %>
                                            <% if (typeof _content.attachments[i].fields[j].value !== 'undefined') { %>
                                                <%= codeFormatter(_content.attachments[i].fields[j].value) %>
                                            <% } %>
                                        </td>
                                        <%
                                    }
                                    %>
                                    </tr></table>
                                <%
                            } %>

                            <!-- Timestamp -->
                            <% if (typeof _content.attachments[i].ts !== 'undefined' && _content.attachments[i].ts) {
                                %>
                                <div class="attachment-ts"><%- shortTime(_content.attachments[i].ts) %></div>
                                <%
                            }
                            %>
                        </div>
                        <%
                    }
                }
                %>
            </div>
        </div>
        <%
    }

} else if (service_type === 'gchat' ) {
    try {
        var _content = preview;
        if (typeof preview === 'string') {
            _content = JSON.parse(preview);
        }
    } catch (ex) {
        _error = true;
        %>
        <div class="template-gchat-preview">
            <strong>Error:</strong><br>
            Preview content is not valid JSON.
        </div>
        <%
    }

    if (!_error) {
        %>
        <div class="template-gchat-preview">
            <div class="message-gutter">
                <div class="message-icon">
                    <img src="https://public.jc21.com/juxtapose/icons/default.png">
                </div>
            </div>
            <div class="message-prefix">
                <strong>Juxtapose</strong> BOT <%- typeof created_on !== 'undefined' && typeof shortTime !== 'undefined' ? shortTime(created_on) : '10:00 AM' %>
            </div>
            <% if (typeof _content.cards !== 'undefined') { %>
                <div class="message-cards">
                    <%
                    _.map(_content.cards, function (card) {
                        %>
                        <div class="card">
                            <%
                            if (typeof card.header !== 'undefined') {
                                %>
                                <div class="card-header<%- typeof card.header.imageUrl !== 'undefined' ? ' has-icon' : '' %>">
                                    <% if (typeof card.header.imageUrl !== 'undefined') { %>
                                        <img src="<%- card.header.imageUrl %>" class="image-style-<%- typeof card.header.imageStyle !== 'undefined' ? card.header.imageStyle : 'none' %>">
                                    <% } %>
                                    <% if (typeof card.header.title !== 'undefined') { %>
                                        <h3><%- card.header.title %></h3>
                                    <% } %>
                                    <% if (typeof card.header.subtitle !== 'undefined') { %>
                                        <h4><%- card.header.subtitle %></h4>
                                    <% } %>
                                </div>
                                <%
                            }

                            _.map(card.sections, function (section) {
                                %>
                                <div class="card-section">
                                    <%

                                    if (typeof section.header !== 'undefined') {
                                        %>
                                        <div class="section-header"><%- section.header %></div>
                                        <%
                                    }

                                    if (typeof section.widgets !== 'undefined' && section.widgets.length) {
                                        _.map(section.widgets, function (widget) {
                                            if (typeof widget.keyValue !== 'undefined') {
                                                var kv = widget.keyValue;
                                                %>
                                                <div class="widget widget-keyvalue<%- typeof kv.icon !== 'undefined' || typeof kv.iconUrl !== 'undefined' ? ' has-icon' : '' %>">
                                                    <%
                                                    if (typeof kv.iconUrl !== 'undefined') {
                                                        %>
                                                        <div class="icon"><img src="<%- kv.iconUrl %>"></div>
                                                        <%
                                                    } else if (typeof kv.icon !== 'undefined') {
                                                        %>
                                                        <div class="icon"><img src="/images/gchat-icons/<%- kv.icon.toLowerCase() %>.png" class="icon"></div>
                                                        <%
                                                    }

                                                    if (typeof kv.content !== 'undefined') {
                                                        %>
                                                        <div class="kv">
                                                            <% if (typeof kv.topLabel !== 'undefined') { %>
                                                                <div class="kv-toplabel"><%- kv.topLabel %></div>
                                                            <% } %>
                                                            <div class="kv-content<%- typeof kv.contentMultiline !== 'undefined' && kv.contentMultiline ? ' multiline' : '' %>"><%- kv.content %></div>
                                                            <% if (typeof kv.bottomLabel !== 'undefined') { %>
                                                                <div class="kv-bottomlabel"><%- kv.bottomLabel %></div>
                                                            <% } %>
                                                        </div>
                                                        <%
                                                    }

                                                    if (typeof kv.button !== 'undefined') {
                                                        %>
                                                        <div class="kv-button">
                                                            <%
                                                            if (typeof kv.button.textButton !== 'undefined' && typeof kv.button.textButton.text !== 'undefined') {
                                                                %>
                                                                <%- kv.button.textButton.text %>
                                                                <%
                                                            }
                                                            %>
                                                        </div>
                                                        <%
                                                    }
                                                    %>
                                                </div>
                                                <%
                                            } else if (typeof widget.textParagraph !== 'undefined') {
                                                if (typeof widget.textParagraph.text === 'undefined') {
                                                    widget.textParagraph.text = 'undefined';
                                                }
                                                %>
                                                <div class="widget">
                                                    <%= codeFormatter(widget.textParagraph.text) %>
                                                </div>
                                                <%
                                            } else if (typeof widget.image !== 'undefined' && typeof widget.image.imageUrl !== 'undefined') {
                                                %>
                                                <div class="widget widget-image">
                                                    <img src="<%- widget.image.imageUrl %>">
                                                </div>
                                                <%
                                            } else if (typeof widget.buttons !== 'undefined' && widget.buttons.length) {
                                                %>
                                                <div class="widget widget-buttons">
                                                    <%
                                                    _.map(widget.buttons, function (button) {
                                                        if (typeof button.imageButton !== 'undefined' && typeof button.imageButton.iconUrl !== 'undefined') {
                                                            %>
                                                            <div class="widget-button">
                                                                <img src="<%- button.imageButton.iconUrl %>">
                                                            </div>
                                                            <%
                                                        } else if (typeof button.imageButton !== 'undefined' && typeof button.imageButton.icon !== 'undefined') {
                                                            %>
                                                            <div class="widget-button">
                                                                <img src="/images/gchat-icons/<%- button.imageButton.icon.toLowerCase() %>.png" class="icon">
                                                            </div>
                                                            <%
                                                        } else if (typeof button.textButton !== 'undefined' && typeof button.textButton.text !== 'undefined') {
                                                            %>
                                                            <div class="widget-button text">
                                                                <%- button.textButton.text %>
                                                            </div>
                                                            <%
                                                        } else {
                                                            %>
                                                            <div class="widget-button text">
                                                                <%= codeFormatter('```' + JSON.stringify(button, null, 2) + '```') %>
                                                            </div>
                                                            <%
                                                        }
                                                    });
                                                    %>
                                                </div>
                                                <%
                                            } else {
                                                %>
                                                <div class="widget">
                                                    <%= codeFormatter('```' + JSON.stringify(widget, null, 2) + '```') %>
                                                </div>
                                                <%
                                            }
                                        });
                                    }
                                    %>
                                </div>
                                <%
                            });
                            %>
                        </div>
                        <%
                    });
                    %>
                </div>
            <% } else if (typeof _content.text !== 'undefined') {%>
                <div class="message-content">
                    <%= codeFormatter(_content.text) %>
                </div>
            <% } else { %>
                <div class="message-content">
                    Error: Neither "text" nor "cards" message content is defined!
                </div>
            <% } %>
        </div>
        <%
    }
} else if (service_type === 'jabber' ) {
    %>
    <div class="template-jabber-preview">
        <div class="message-content">
            <div class="message-content-header">
                <div class="message-content-header-left">
                    <span class="message-sender color_bot_Your_App">
                        <a class="app_preview_link"><%- typeof bot_name !== 'undefined' ? bot_name : 'Juxtapose Bot' %></a>
                    </span>
                    <span class="time-star-and-extra-metadata">
                        <a class="timestamp"><%- (typeof created_on !== 'undefined' && typeof shortTime !== 'undefined' ? shortTime(created_on) : '10:00 AM') %></a>
                    </span>
                </div>
            </div>
            <div class="message-content_body"><%- preview %></div>
        </div>
    </div>
    <%
} else { %>
    <div>Error: Rendering template for service type "<%- service_type %>" is not yet implemented</div>
<% } %>
